<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Ephesis&family=Rubik+Dirt&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/add_item.css">
    <title>Add Item | Kunehouse</title>
</head>

<body>

    <div class="add" id="add">
        <div class="form-container">
            <form action="/add_product" method="POST" enctype="multipart/form-data">
                <h1>Add New Product</h1>
                <span class="form-description">Kunehouse</span>
                
                <label for="productname">Product Name</label><br>
                <input type="text" id="productname" name="productname" placeholder="Product Name" required>
            
                <label for="productprice">Price</label><br>
                <input type="number" step="0.01" id="productprice" name="productprice" placeholder="Price" required>
            
                <label for="productcategory">Category</label><br>
                <select id="productcategory" name="productcategory" required onchange="updateSubcategories()">
                    <option value="pet essentials">Pet Essentials</option>
                    <option value="health and wellness">Health and Wellness</option>
                    <option value="toys">Toys</option>
                    <option value="clothing and accessory">Clothing and Accessories</option>
                    <option value="furniture">Furniture</option>
                    <option value="housing and enclosure">Housing and Enclosure</option>
                    <option value="training and behavior">Training and Behavior</option>
                    <option value="outdoor and activity gear">Outdoor and Activity Gear</option>
                </select>
            
                <!-- Subcategory Dropdown -->
                <label for="subcategory">Subcategory</label><br>
                <select id="subcategory" name="subcategory" required>
                </select>
                    
                </select>

                <label for="productquantity">Quantity</label>
                <input type="number" id="productquantity" name="productquantity" value="1" min="1" placeholder="Quantity" required>
            
                <label for="productsize">Size</label><br>
                <div class="size-options">
                    <input type="checkbox" id="size-s" name="productsize" value="S">
                    <label for="size-s">S</label>

                    <input type="checkbox" id="size-m" name="productsize" value="M">
                    <label for="size-m">M</label>

                    <input type="checkbox" id="size-l" name="productsize" value="L">
                    <label for="size-l">L</label>

                    <input type="checkbox" id="size-xl" name="productsize" value="XL">
                    <label for="size-xl">XL</label>
                </div>

                <label for="productcolor">Color</label><br>
                <div class="color-options">
                    <input type="checkbox" id="color-red" name="productcolor" value="Red">
                    <label for="color-red">Red</label>

                    <input type="checkbox" id="color-blue" name="productcolor" value="Blue">
                    <label for="color-blue">Blue</label>

                    <input type="checkbox" id="color-green" name="productcolor" value="Green">
                    <label for="color-green">Green</label>

                    <input type="checkbox" id="color-yellow" name="productcolor" value="Yellow">
                    <label for="color-yellow">Yellow</label>
                </div>
            
                
            
                <label for="productdescription">Description</label><br>
                <textarea rows="3" cols="30" id="productdescription" name="productdescription" placeholder="Description" required></textarea>
            
                <label for="productimage" class="custom-file-upload">
                    <span>Choose Product Image</span>
                </label>
                <input type="file" accept="image/*" id="productimage" name="productimage" required>
            
                <button type="submit">Add Product</button>
            </form>
            
        </div>
    </div>
    <div class="top">
        <div class="back-button">
            <form action="add_back" method="POST">
                <button type="submit" class="back-button-style">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                        <path d="M640-200 200-480l440-280v560Zm-80-280Zm0 134v-268L350-480l210 134Z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <script src="../static/add_item_script.js"></script>
    
</body>
</html>