<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/rs_style.css">
    <link rel="stylesheet" href="../static/flash_style.css">
    
</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-container">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    <script src="../static/flash_script.js"></script>
</body>
</html>