<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Ephesis&family=Lavishly+Yours&family=Mrs+Saint+Delafield&family=Pattaya&family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bowlby+One&family=Cookie&family=Ephesis&family=Lavishly+Yours&family=Mrs+Saint+Delafield&family=Pattaya&family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bowlby+One&family=Cherry+Bomb+One&family=Cookie&family=Ephesis&family=Lavishly+Yours&family=Modak&family=Mrs+Saint+Delafield&family=Pattaya&family=Poetsen+One&family=Rubik+Dirt&display=swap" rel="stylesheet">
    <title>Buyer Interface | Kunehouse</title>
    <link rel="stylesheet" href="../static/seller_ui_style.css">
</head>
<body>
    {% include 'seller_sidebar.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-container">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}



    <h1 class="custom">☁︎</h1>
    <h1 class="custom-1">✦</h1>
    <h1 class="custom-2">☁︎</h1>
    <h1 class="custom-3">☁︎</h1>
    <h1 class="custom-4">///</h1>

    <div class="top-sidebar">
        <div class="left">
            <h1>Seller Dashboard</h1>
        </div>
        <div class="right">
            <p>╰ ₊  ✧  ﾟ ⚬  𓂂  ➢</p>
        </div>
    </div>

    <div class="banner">

        {% if seller and seller.Banner %}
            <img src="{{ url_for('static', filename='banners/' + seller.Banner) }}" alt="Seller Banner" class="banner-image">
        {% else %}
            <img src="{{ url_for('static', filename='banners/default_banner.jpg') }}" alt="Default Banner" class="banner-image">
        {% endif %}

    </div>

    <div class="main-content">
        <h1 class="text-design">𖤣 . 𖥧 . 𖡼 . ⚘ . 𖤣 . 𖥧 . 𖡼 . ⚘ </h1>
        <hr class="custom-hr">
        {% for prod in product %}
            <div class="product-item">
                <div class="product-image">
                    {% if prod[8] %}
                        <img src="{{ url_for('static', filename=prod[8][7:]) }}" alt="Product Image">
                    {% else %}
                        <img src="https://via.placeholder.com/150" alt="No Image Available">
                    {% endif %}
                </div>

                <h1>{{ prod[1] }}</h1>
                <p>Price: ${{ prod[2] }}</p>
                <p>Category: {{ prod[3] }}</p>
                <p>Subcategory: {{ prod[4] }}</p>
                <p>Quantity: {{ prod[6] }}</p>

                <h2>⋆ ˚ ✿ ˖ °</h2>
            </div>
        {% endfor %}
    
        {% if product|length == 0 %}
            <p>No products added yet.</p>
        {% endif %}
    </div>

    <div class="profile-section">
        <a href="{{ url_for('seller_profile')}}" method="get">
            {% if seller.SellerPicture %}
                <img src="{{ url_for('static', filename='profile/' + seller.SellerPicture) }}" alt="Seller Picture">
            {% else %}
                <img src="{{ url_for('static', filename='icons/default_profile.jpg') }}" alt="Default Profile Picture">
            {% endif %}
        
            <h3>Profile</h3>
            <p>Username: {{ seller['StoreName'] }}</p>
            <p>Contacts: {{ seller['SellerContact'] }}</p>
        </a>
    </div>

    <div class="side-content">
        <div class="totals-container">

            <form action="{{ url_for('add_item') }}" method="post">
               <div class="total-box">
                    <button>
                        <div class="total-img">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                                <path d="M200-120q-50 0-85-35t-35-85q0-50 35-85t85-35h560q50 0 85 35t35 85q0 50-35 85t-85 35H200Zm0-80h560q17 0 28.5-11.5T800-240q0-17-11.5-28.5T760-280H200q-17 0-28.5 11.5T160-240q0 17 11.5 28.5T200-200Zm200-240q-17 0-28.5-11.5T360-480v-320q0-17 11.5-28.5T400-840h320q17 0 28.5 11.5T760-800v320q0 17-11.5 28.5T720-440H400Zm40-80h240v-240H440v240Zm-360-2v-77h197v77H80Zm400-118h160v-79H480v79Zm-320 0h117v-79H160v79Zm280 120v-240 240Z"/>
                            </svg>
                        </div>
                        <div class="total-info">
                            <h4 class="total-text">⋅ ˚ . ⋆ ☾ ⁺ ₊  ‧</h4>
                            <h3>Add Products</h3>
                        </div>
                    </button>
               </div>
            </form>

           <a href="{{ url_for('seller_products') }}">
                <div class="total-box">
                    <div class="total-img">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                            <path d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z"/>
                        </svg>
                    </div>
                    <div class="total-info">
                        <h4 class="total-text">⋅ ˚ . ⋆ ☾ ⁺ ₊  ‧</h4>
                        <h3>Total Products :</h3>
                        <p>{{ total_products }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <script>
        setTimeout(() => {
          const flashMessages = document.querySelectorAll('.flash-message');
          flashMessages.forEach((message) => {
            message.style.display = 'none';
          });
        }, 3000);
    </script>
      



</body>